# .coveragerc to control coverage.py
[run]
source = .
omit =
    */migrations/*
    */settings/*
    */wsgi.py
    */asgi.py
    manage.py
    venv/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover # Have to re-enable the standard pragma
    if __name__ == .__main__. # Don't complain if non-runnable code isn't run

# skip_covered = True  # Do not display covered code in report
# Display missing lines in report
show_missing = True
