{% extends "base.html" %}
{% load i18n %}

{% block title %}
  Liste des demandes
{% endblock %}

{% block content %}
  <div class="container">


    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
      <input name="next" type="hidden" value="{{ redirect_to }}">
      <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
          <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
            {{ language.name_local }} ({{ language.code }})
          </option>
        {% endfor %}
      </select>
      <input type="submit" value="Go">
    </form>
    <h1>Liste des demandes</h1>
    <h2>{{ say_hello }}</h2>
    <a href="{% url 'inscriptions:create' %}" class="btn btn-primary mb-3">Ajouter une demande</a>

    <form action="" method="get" class="form">
      {{ filter.form.as_p }}
      <input type="submit" value="Soumettre" class="btn btn-primary btn-success"/>
    </form>

    {% if filter.qs %}
      <ul class="list-group">
        {% for demande in filter.qs %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'inscriptions:detail' demande.pk %}"
               class="text-decoration-none"
            >
              {{ demande }}
            </a>
            <a href="{% url 'inscriptions:update' demande.pk %}" class="btn btn-sm btn-warning">✎</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>{% trans "No requests" %}</p>
    {% endif %}
  </div>
{% endblock %}
